h1{ text-align: center;
    text-transform: capitalize;color: red;}
h5{text-align: center;}

h3{color: red;font-family: 'Times New Roman', Times, serif;}

h3{font-weight: 400;text-transform: uppercase;}
